*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
 
}
.banner{
    width: 100%;
    height: 700px;
    animation: banner 10s infinite linear alternate;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
    display: block;
    justify-content: center;
    align-items: top;
    border: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
}
@keyframes banner {
    0%, 20% {
        background-image: url(../Imagenes/20231115_105731.jpg) ;
    }
    25% , 45%{
        background-image: url(../Imagenes/topography-813844_1920.jpg) ;
    }
    50%, 70%{
        background-image: url(../Imagenes/IMG-20231013-WA0026.jpg) ;
    }
    75%, 100%{
        background-image: url(../Imagenes/20190120_124239.jpg) ;
    }
    }
.row h2{
    text-align:center;
    color: rgb(245, 245, 245);
    font-size: 35px;
    padding-top: 10px;
    animation-duration: 6s;
    animation-name: slidein;
    font-family:  montserrat sans-serif;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
.row p{
    color: white;
    font-size: 22px;
    font-family: monserrat sans-serif;
    padding: 30px 30px;
    margin: 40px 0px 10px;
    background: #404e4095;
    
}
.header{
    background-image: url(../Imagenes/Barra2.png);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;	
    height: 80px;
    box-shadow: 0 4px 5px; color: #e5e5e5;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;

}
.nav-link{
    color: white;
    text-decoration: none;
    margin: 10px 0 ;
   
}
.img{
    height: 75px;
    width: 125px;
    padding-top: 10px ;
    margin-left: 60px;
}
.nav-menu{
    display: flex;
    margin-right: 60px;
    list-style: none;
    
   
}
.nav-menu-item{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    width: max-content;
    padding-bottom: 10px;
    
    
}

.row h1{
    text-align:center;
    color: rgb(240, 90, 9);
    font-size: 70px;
    padding-top: 100px;
    animation-duration: 4s;
    animation-name: slidein;
    font-family:  roboto;
    font-weight: 900;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.forcom-lista{
    text-align: center;
    list-style: none;
}
.nav-item h1{
    text-align: center;
}
.row h3{
    color: black;
    text-align: center;
    padding: 30px 12px 10px;
    font-size: 36px;
    font-family:  montserrat sans-serif;
}
.row h4{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    font-family:  montserrat sans-serif;
    padding-top: 15px;
}
p.margen{
    color: #080808;
    font-size: 17px;
    font-family: roboto;
    text-align: center;
    padding: 5px 5px;
    margin: 0px 0px 0px;
}
h5{
    color: #fbfbfc;
    font-size: 12px;
    font-family:  montserrat sans-serif;
    padding: 7px 7px; 
    background-color: #08080895;
    
}
.container{
    background-image: url(../Imagenes/Sat1.png);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;	
    display: block;
    justify-content: center;
    align-items: top;
}
.zoom:hover{
    transform:scale(1.5);
    transition: transform 0.5s;
}
h6{
    color: black;
    font-size: 27px;
    font-family:  montserrat sans-serif;
    padding: 10px 10px;
    text-align: center;
}

.text-center p{
    color: black;
    font-size: 20px;
    font-family: montserrat sans-serif ;
}
h4.color6 {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0,0.10);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 245, 244);
}
h4.color7 {
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 245, 244);
}   
p.tex-topo{
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0,0.10);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    color: rgba(0, 0, 0, 0.579);
}
p.equi{
    color: rgba(0, 0, 0, 0.579);
    font-size: 17px;
    font-family: monserrat sans-serif;
    padding-top: 10px;
}
div.center{
    background-color: azure;
}
.nav-menu-link nav.link{
    padding: 0px 12px;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 20px;
    
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: rgb(6, 77, 128);
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}
.map-responsive{
    overflow:hidden;
    padding-bottom: 35.35%;
    position:relative;
    height:0;
    
}
.map-responsive iframe{
    left: 30px;
    top: 10px;
    height:80%;
    width:80%;
    position:absolute;
}
#check{
    display: none;
}

@media (max-width:768px){
    body{
        padding-top: 60px;
    }
    .img-responsive{
        height: 30px;
        width: 85px;
    }
    .header{
        height: 60px;
    }
    .img{
        height: 50px ;
        width: 110px ;
        padding: 3 8px;
        margin-left: 30px;
        
    }
    .nav{
        height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        margin-right: 10px;
        background-color: #2c3e50;
        position:fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        align-items: center;
        height: calc(100%-60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.7s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
    }
   
    .row h1{
        font-size: 50px;
        padding-top: 80px; 
    }
    .row h2{
        font-size: 30px;
        padding-top: 5px;
          }
    .row p{
        font-size: 15px;
        padding: 20px 40px;
        margin:  30px 20px ; 
        width: auto; 
    }
    .banner{
        width: 970;
        height:520px;
    }
    
    .row h6{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 25px; 
    }
    .row h3{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 28px;
    }
    p.margen{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 15px;
    }
    p.tex-topo{
        font-size: 15px;    
    }
    .div.row{
       width: 950;
    }
    .map-responsive{
        width: auto;
        height: 360px;
    }
    #check:checked ~ .nav-menu{
        left: 0;
    }
    #check{
        display: none;
    }
 
}
