*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 600px;
    animation: banner 5s infinite linear alternate;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;	
    display: block;
    justify-content: center;
    align-items: top;
    border: none;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    text-align: justify;
}
.row{
    width: 100%;
    overflow: hidden;
}

@keyframes banner {
    0%, 20% {
        background-image: url(../Imagenes/20231115_105731.jpg) ;
    }
    25% , 45%{
        background-image: url(../Imagenes/topography-813844_1920.jpg) ;
    }
    50%, 70%{
        background-image: url(../Imagenes/IMG-20231013-WA0026.png) ;
    }
    75%, 100%{
        background-image: url(../Imagenes/20190120_124239.jpg) ;
    }
    }
.row h2{
    text-align:center;
    color: black;
    font-size: 35px;
    padding-top: 15px;
    padding-left: 50px;
    font-family:  Poppins;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
.row p{
    color: black;
    font-size: 22px;
    font-family: Poppins; 
}

section[id]{
    scroll-margin-top: 80px;
    

}
html{
    scroll-behavior: smooth;
}
.header{
    background-image: url(../Imagenes/Barra2.png);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;	
    height: 80px;
    box-shadow: 0 4px 5px; color: #e5e5e5;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}
.nav{
    display: flex;
    justify-content:space-between;
    height: 80px;
    width: 100%;

}
.nav-link{
    color:white;
    text-decoration: none;
    margin: 20px 10px ;
    font-size: 22px;
    font-family: Poppins;
    text-align: center;
   
}
.img{
    height: 75px;
    width: 125px;
    padding-top: 10px ;
    margin-left: 70px;
}
.img1{
    height: 75px;
    width: 185px;
    padding-top: 0px ;
    margin: 5px;
}
.nav-menu{
    display: flex;
    margin-right: 20px;
    list-style: none;
    padding: 0 0 0;
}
.nav-menu-item{
    line-height: 25px;
    text-transform: uppercase;
    width: max-content;
    padding-bottom: 10px;
    text-align: center;
}

.row h1{
    text-align:center;
    font-size: 100px;
    color: rgb(240, 90, 9);
    text-shadow: -1.5px -1.5px 1.5px #0000DF, 1.5px -1.5px 1.5px rgba(255, 255, 0, 0.813), -1.5px 1.5px 1.5px #0000DF, 1.5px 1.5px 1.5px rgba(255, 255, 0, 0.813);
    -webkit-text-stroke: 2px ;
    padding-top: 100px;
    font-family:  Poppins;
    font-weight: 900;
    animation-duration: 10s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.forcom-lista{
    text-align: center;
    list-style: none;
}
.nav-item h1{
    text-align: center;
}
.row h3{
    color: black;
    text-align: center;
    padding: 30px 12px 10px;
    font-size: 36px;
    font-family:  Poppins;
}
.row h4{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    font-family:  Poppins;
    padding-top: 15px;
}
p.margen{
    color: #080808;
    font-size: 17px;
    font-family: Poppins;
    text-align: center;
    padding: 5px 5px;
    margin: 0px 0px 0px;
}
h5{
    color: #fbfbfc;
    font-size: 12px;
    font-family:  Poppins;
    padding: 7px 7px;
    margin: 0px 0px 10px 22px;
    background-color: #08080895;
    
}
.nav-item{
    background-image: url(../Imagenes/Sat1.png);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;	
    display: block;
    justify-content: center;
    align-items: top;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px;

}
.zoom:hover{
    transform:scale(1.5);
    transition: transform 0.5s;
}
h6{
    color: black;
    font-size: 27px;
    font-family:  Poppins;
    padding: 10px 10px;
    text-align: center;
}

.text-center p{
    color: black;
    font-size: 20px;
    font-family: Poppins ;
}
h4.color6 {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0,0.10);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 245, 244);
}
h4.color7 {
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 245, 244);
}   
p.tex-topo{
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0 4px 8px; color: (0,0,0,0.10);
    border-radius: 10px;
    padding: 0.5em 0.7em;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    color: rgba(0, 0, 0, 0.579);
}
p.equi{
    color: rgba(0, 0, 0, 0.579);
    font-size: 17px;
    font-family: Poppins;
    padding-top: 10px;
}
div.center{
    background-color: rgb(206, 207, 220);
    margin: 20px 10px 20px 25px;
    padding: 0px 0px 0px 0px;
}


.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.nav-toggle{
    color:black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}
.map-responsive{
    overflow:hidden;
    padding-bottom: 35.35%;
    position:relative;
    height:0;
    margin: 30px 10px 0px 150px;
}
.map-responsive iframe{
    left: 30px;
    top: 10px;
    height:80%;
    width:80%;
    position:absolute;
}
#check{
    display: none;
}
@media (max-width:740px){
    body{
        padding-top: 60px;
    }
    .img-responsive{
        height: 30px;
        width: 85px;
    }
    .row{
        width: 100%;
        overflow: hidden;
    }    
    .header{
        height: 60px;
    }
    .img{
        height: 50px ;
        width: 110px ;
        padding: 3 8px;
        margin-left: 10px;
        
    }
    .nav{
        height: 50px;
        position: fixed;
        justify-content: space-between;
    }
    .nav-menu{
        flex-direction: column;
        margin-right: 0px;
        margin-left: 10px;
        background-color: rgba(173, 168, 168, 0.954);
        position:fixed;
        right: 0; 
        top: 60px;
        width: 35%;
        padding: 0 5px 0px 0px;
        align-items:  center;
        height: calc(100%-70px);
        overflow-y: auto;
        right: 100%;
        transition: right 0.7s;
    }
    .nav-link{
        color: black;
        margin: 20px 0;
        padding: 10px 7px ;
    }
    .nav-menu-item{
        line-height: 10px;
        padding: 0 0 ;

    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
       
    }
    .nav-toggle{
        display: block;
    }
    
    .row h2{
        font-size: 20px;
        padding-top: 5px;
          }
    .row p{
        font-size: 17px;
        padding: 0px 0px;
        margin:  20px 20px ; 
        width: auto; 
    }
    .banner{
        width: 970;
        height:520px;
    }
    
    .row h6{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 25px; 
    }
    .row h3{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 25px;
    
    }
    p.margen{
        padding: 5px 5px 5px;
        margin: 0px 0px 0px;
        font-size: 15px;
    }
    p.tex-topo{
        font-size: 15px;    
    }
   
    .map-responsive{
        width: auto;
        height: 360px;
        margin: 30px 10px 0px 20px;
    }
    #check:checked ~ .nav-menu{
        right: 0;
    }
    #check{
        display: none;
    }
    .row h1{
        font-size: 45px;
        padding-top:65px;
        animation-duration: 4s;
        animation-name: slidein;
        font-family:  roboto;
        margin-left: 15px;
    }
    section[id]{
        scroll-margin-top: 130px;
    
    }
    html{
        scroll-behavior: smooth;
    }
    .banner{
        width: 100%;
        height: 400px;
    }
    .img1{
        height: 50px;
        width: 110px;
        padding-top: 0px ;
        margin: 7px 60px 0px 0px;
        }
    }
